.app {
  /* Set rules to fill background */
  filter: blur(1.5rem);
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  }

.container {
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

/* .photo-container {
    display: flex;
    justify-content: center;
} */

/* .item {
    align-self: auto;
} */
